<html lang='en'>

<%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>

            <div class="about content">
                <h2>About Us</h2>
                <p>It is applicable for applications with high hit rate(measur of how active a file is). Used in batch processing, processes all records in the blocks at a single read</p>
                <p>It is applicable for applications with high hit rate(measur of how active a file is). Used in batch processing, processes all records in the blocks at a single read</p>
                <p>It is applicable for applications with high hit rate(measur of how active a file is). Used in batch processing, processes all records in the blocks at a single read</p>
                <p>It is applicable for applications with high hit rate(measur of how active a file is). Used in batch processing, processes all records in the blocks at a single read</p>
            </div>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>